name: build-tr3000
permissions: write-all
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  build:
    name: build openwrt for cudy tr3000 (256MB v1)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        env:
          DEBIAN_FRONTEND: noninteractive
        run: |
          sudo apt-get update
          sudo apt install build-essential libncurses-dev zlib1g-dev gawk git gettext libssl-dev rsync unzip file python3 python3-distutils flex bison autoconf automake libtool libelf-dev curl wget xxd u-boot-tools pkg-config
          
      - name: Update feeds
        run: |
          ./scripts/feeds update -a
          ./scripts/feeds install -a

      - name: Copy config file from abc/.config
        run: cp abc/.config .config

      - name: Build firmware
        env:
          FORCE_UNSAFE_CONFIGURE: 1
        run: make -j8

      - name: Zip the bin directory
        uses: montudor/action-zip@v1
        with:
          args: zip -qq -r openwrt-cudy-tr3000.zip bin

      - name: Release and Upload
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: openwrt-cudy-tr3000.zip
          name: ${{ github.ref_name }}

      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          retain_days: 0
          keep_minimum_runs: 2
